@import url("DomConsole.chrome.template.css");

:root {
  --fore-color: #474747;
  --back-color: #ffffff;
  --current-selected-anchor-color: #fef6d5;
  --standard-border-color: rgb(71, 71, 71);
  --table-row-even-back-color: rgb(40, 41, 42);
  --table-row-hover-back-color: rgb(62, 62, 62);
  --table-row-fore-color: rgb(152, 127, 253);
  --warn-fore-color: rgb(253, 243, 170);
  --warn-back-color: rgb(65, 60, 38);
  --error-fore-color: rgb(231, 204, 203);
  --error-back-color: rgb(78, 53, 52);
  --menu-back-color: #fafcff;
  --menu-border-color: #e0e0e1;
  --menu-shadow-color: #e0e0e133;
  --menu-hover-back-color: #edeff2;
}