.console-list {
  list-style: none;
  color: rgb(222, 222, 222);
  background-color: rgb(40, 40, 40);
}

.console-list>.console-list-item {
  border-top: 1px solid rgb(71, 71, 71);
  margin: 0.25em;
}

.console-list>.console-list-item.console-list-item-warn {
  color: rgb(253, 243, 170);
  background-color: rgb(65, 60, 38);
}

.console-list>.console-list-item.console-list-item-error,
.console-list>.console-list-item.console-list-item-assert {
  color: rgb(231, 204, 203);
  background-color: rgb(78, 53, 52);
}

.console-list>.console-list-item .console-list-item-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(71, 71, 71);
}

.console-list>.console-list-item .console-list-item-table th {
  border: 1px solid rgb(71, 71, 71);
  padding-left: 0.25em;
}

.console-list>.console-list-item .console-list-item-table td {
  border-right: 1px solid rgb(71, 71, 71);
  padding-left: 0.25em;
}

.console-list>.console-list-item .console-list-item-table tbody tr:nth-child(even) {
  background-color: rgb(40, 41, 42);
}

.console-list>.console-list-item .console-list-item-table thead th:hover,
.console-list>.console-list-item .console-list-item-table tbody tr:nth-child(odd):hover {
  background-color: rgb(62, 62, 62);
}

.console-list>.console-list-item .console-list-item-table tbody td:not(:first-child) {
  color: rgb(152, 127, 253);
}

.console-menu {
  margin: 0;
  background-color: #fafcff;
  list-style: none;
  padding-left: 0;
  border: 0.1em solid #e0e0e1;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0.05em #e0e0e133;
  overflow: hidden;
}

.console-menu li {
  padding: 0.35em;
  cursor: pointer;
}

.console-menu li:hover {
  background-color: #edeff2;
}