input[name="group-visibility"] {
  display: none;
}

.console-list {
  list-style: none;
  color: var(--fore-color);
  background-color: var(--back-color);
  margin-top: 0;
  padding-left: 1.25em;

  .console-list-item:has(>label:hover) {
    padding-left: 0;
    border-left: 3px solid var(--current-selected-anchor-color);
  }

  .console-list-item {
    box-sizing: border-box;
    padding-top: -1px;
    border-top: 1px solid var(--standard-border-color);
    padding-left: 3px;

    label:has(>input[name="group-visibility"])::before {
      content: "▶ ";
    }

    label:has(>input[name="group-visibility"]:checked)::before {
      content: "▼ ";
    }

    .console-list-item-group:has(>.console-list>.console-list-item>label:hover) {
      padding-left: 2px;
      border-left: 1px dashed var(--standard-border-color);
    }

    .console-list-item-table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid var(--standard-border-color);
      margin-top: 0.2em;
      margin-bottom: 0.2em;

      th {
        border: 1px solid var(--standard-border-color);
        padding-left: 0.25em;
      }

      td {
        border-right: 1px solid var(--standard-border-color);
        padding-left: 0.25em;
      }

      tbody tr:nth-child(even) {
        background-color: var(--table-row-even-back-color);
      }

      thead th:hover,
      tbody tr:nth-child(odd):hover {
        background-color: var(--table-row-hover-back-color);
      }

      tbody td:not(:first-child) {
        color: var(--table-row-fore-color);
      }
    }
  }

  .console-list-item-warn>label,
  .console-list-item-group:has(.console-list-item-warn)>label {
    color: var(--warn-fore-color);
    background-color: var(--warn-back-color);
  }

  .console-list-item-error>label,
  .console-list-item-assert>label,
  .console-list-item-group:has(.console-list-item-error, .console-list-item-assert)>label {
    color: var(--error-fore-color);
    background-color: var(--error-back-color);
  }
}

*:has(>.console-list)>.console-list:not(.console-list .console-list) {
  padding-left: 0;
}

.console-menu {
  margin: 0;
  background-color: var(--menu-back-color);
  list-style: none;
  padding-left: 0;
  border: 0.1em solid var(--menu-border-color);
  border-radius: 0.5em;
  box-shadow: 0 0 0 0.05em var(--menu-shadow-color);
  overflow: hidden;

  li {
    padding: 0.35em;
    cursor: pointer;
  }

  li:hover {
    background-color: var(--menu-hover-back-color);
  }
}